<!DOCTYPE html>

<head>
  <%- include('partials/_head.ejs') %>
  <title>Home</title>
</head>

<body>
  <div class="container">
    <h3>Home</h3>

    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>

      <% if (loggedIn) { %>
      <h3>Your email is: <%= email %></h3>
      <a href="/logout">Logout</a>
      <% } %>
      
    </div>

  </div>
</body>

</html>
