<!DOCTYPE html>

<head>
  <title>Home</title>
</head>

<body>
  <div>
    <h3>Home</h3>

    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% if (loggedIn) { %>
      <h3>Your email is: <%= email %></h3>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
      <% } %>
    </div>

  </div>
</body>

</html>
