<!DOCTYPE html>

<head>
  <title>Login</title>
</head>

<body>
  <div>
    <h3>Login</h3>
    <a href="/">Home</a>
    <br>
    <br>

    <form action="/login" method="POST">

      <%# This block only renders when flash exists %> 
      <% if (flash) { _%>
      <div class="<%= flash.type %>">
        <%= flash.message %>
      </div>
      <% } _%>

      <label for="email">Email</label>
      <input name="email"type="email" value="<%= flash ? flash.email : '' %>" required>
      <label for="password">Password</label>
      <input name="password" type="password" required>

      <button>Login</button>
      <a href="/register">Register</a>
      
    </form>
  </div>
</body>

</html>
