<!DOCTYPE html>

<head>
  <%- include('partials/_head.ejs') %>
  <title>Register</title>
</head>

<body>
  <div class="container">

    <!-- NAVIGATION BAR -->
    <header class="header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Guide</a></li>
        </ul>
      </nav>
    </header>

    <form action="/register" method="POST" class="content">

      <h3>Register</h3>
      <%# HANDLE EMAIL ALREADY EXISTS %>
      <% if (flash) { _%>
      <div class="<%= flash.type %>">
        <%= flash.message %>
      </div>
      <% } _%>
      
      <label for="email">Email</label>
      <input name="email"type="email" value="<%= flash ? flash.email : '' %>" required>
      
      <label for="password">Password</label>
      <input name="password" type="password" required>

      <button>Register</button>
      <a href="/login">Login</a>
      
    </form>
  </div>
</body>

</html>
