/* Occupy the entire view */
body, html {
  height: 100%;
  display: grid;
}

body{
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 20px;
  color: var(--text);
  background: var(--background);
}

/* ------- NAVIGATION BAR ------- */
.container {
  display: grid;
  grid-template-areas: 
  "header"
  "content";
  grid-template-rows: 0.5fr 5fr;
}

.header {
  grid-area: header;
}

.content {
  margin: auto; /* center content */
  grid-area: content;
}

/* ------- NAVIGATION BAR ------- */
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* ------- FORMS ------- */

form {
  padding: 0.5rem;
  text-align: center;
}

form > *{
  width: 100%;
  margin: 0.3rem 0;
  display: inline-block;
  /* padding: 0.8rem 0.5rem;
  background: var(--contrast);
  border-radius: 4px; */
}

input {
  /* width: 100%; */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  /* margin: 0.3rem 0; */
}

/* ------- BUTTONS ------- */

a, button {
  /* width: 100%; */
  border: none;
	padding: 0.3em 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  border-radius: 3px;
  color: var(--text);
  background: var(--interactive);
}

button:hover, a:hover, a:focus, button:focus {
  outline: none;
  cursor: pointer;
}
button:active, a:active {
  box-shadow: 0px 0px var(--interactive-dark);
  transform: translate(0px, 0px);
}

/* input:focus {
  border: 2px solid lightblue;
} */

